In [1]:
import pandas as pd

In [25]:
repositories_country = pd.read_csv('Repositories_country.csv')

In [26]:
user_node = pd.read_csv('User_node_gender_updated.csv')

In [27]:
len(user_node)

1481

In [28]:
user_node = user_node[user_node['number_slugs'].notnull()]

In [29]:
len(user_node)

1480

# Contributions to repository owners by gender

In [30]:
repositories_country['owner'] = repositories_country['slug'].str.split('/').str[0]

In [31]:
repositories_country['login'].nunique()

1481

In [32]:
owner_gender = repositories_country[['owner']]

In [33]:
login_gender = repositories_country[['login', 'sex or gender', 'name']]

In [34]:
owner_gender = owner_gender.merge(login_gender, left_on='owner', right_on='login', how='left')

In [35]:
owner_gender['owner'].nunique()

6714

In [36]:
owner_gender

               owner         login sex or gender             name
0          0x00000FF     0x00000FF          male      Kangjun Heo
1          0x00000FF     0x00000FF          male      Kangjun Heo
2          0x00000FF     0x00000FF          male      Kangjun Heo
3          0x00000FF     0x00000FF          male      Kangjun Heo
4          0x00000FF     0x00000FF          male      Kangjun Heo
...              ...           ...           ...              ...
452668  zygmuntszpak  zygmuntszpak           NaN  Zygmunt L Szpak
452669  zygmuntszpak  zygmuntszpak           NaN  Zygmunt L Szpak
452670  zygmuntszpak  zygmuntszpak           NaN  Zygmunt L Szpak
452671  zygmuntszpak  zygmuntszpak           NaN  Zygmunt L Szpak
452672  zygmuntszpak  zygmuntszpak           NaN  Zygmunt L Szpak

[452673 rows x 4 columns]

In [399]:
owner_gender[owner_gender['login'].isnull()]['owner'].nunique()

5486

In [400]:
owner_null = owner_gender[owner_gender['login'].isnull()]['owner'].unique().tolist()

In [ ]:
len(names)

In [35]:
names_iteration = names

In [56]:
names_df = list(set(owner_null) - set(pd.DataFrame(names_iteration)[0].unique().tolist()))

In [59]:
len(names_df)

1094

In [62]:
# Reference link: https://stackoverflow.com/questions/21011777/how-can-i-remove-nan-from-list-python-numpy

names_df = [x for x in names_df if x == x]

In [65]:
len(names)

988

In [67]:
names_iteration_more = names

In [68]:
names_df = names_list

In [70]:
len(names)

0

In [73]:
owner_names = names_iteration + names_iteration_more

In [74]:
len(owner_names)

5381

In [441]:
len(names)

0

In [442]:
len(names_list)

625

In [439]:
names_get = names_list

In [2]:
names_get = pd.read_csv('C:/Users/Ekaterina/Names.csv')

In [4]:
len(names)

518

In [7]:
names_df = names

In [9]:
len(names_df)

518

In [14]:
names_df = pd.DataFrame(names_df)

In [16]:
names_df.to_csv('Owner_names_1.csv', index=False)

In [8]:
names_get = names_list

In [17]:
len(names_get)

107

In [18]:
import requests

names = []
names_list = []

headers = {
   'Authorization': 'token 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',}

for number, i in enumerate(names_get):
        
    r = requests.get('https://api.github.com/users/' + i, headers=headers)
    
    try:
        names.append([i, r.json()['name']])
        
    except:
        names_list.append(i)
        
    if number % 1000 == 0:
        print(number, i)

0 alan-shaffer

In [37]:
owner_gender = owner_gender.drop_duplicates()

In [38]:
owner_names = pd.read_csv('Owner_names.csv')

In [39]:
owner_names_0 = pd.read_csv('Owner_names_0.csv')

In [40]:
owner_names_0 = owner_names_0.rename(columns={'0':'owner'})

In [41]:
owner_names_1 = pd.read_csv('Owner_names_1.csv')

In [42]:
owner_names_1 = owner_names_1.rename(columns={'0':'owner'})

In [43]:
owner_combined = pd.concat([owner_names,owner_names_0,owner_names_1])

In [44]:
len(owner_combined)

5379

In [45]:
owner_combined['owner'].nunique()

5379

In [46]:
owner_gender = owner_gender.merge(owner_combined, on='owner', how='left')

In [47]:
owner_gender['owner'].nunique()

6714

In [48]:
owner_gender['first_name'] = owner_gender['1'].str.split(' ').str[0]

In [49]:
import gender_guesser.detector as gender

d = gender.Detector()

def get_gender(row):
    return d.get_gender(row)
    
owner_gender['imputed_gender'] = owner_gender['first_name'].apply(get_gender)

In [50]:
owner_gender.loc[owner_gender['sex or gender'].isnull(), 'gender_updated'] = owner_gender['imputed_gender']

In [51]:
owner_gender.loc[owner_gender['sex or gender'].notnull(), 'gender_updated'] = owner_gender['sex or gender']

In [52]:
owner_gender.loc[owner_gender['gender_updated'] == 'mostly_male', 'gender_updated'] = 'male'
owner_gender.loc[owner_gender['gender_updated'] == 'mostly_female', 'gender_updated'] = 'female'

In [53]:
owner_gender.loc[owner_gender['gender_updated'] == 'andy', 'gender_updated'] = 'other'
owner_gender.loc[owner_gender['gender_updated'] == 'non-binary', 'gender_updated'] = 'other'

In [54]:
owner_gender = owner_gender.drop_duplicates()

In [55]:
owner_gender.to_csv('Owner_gender.csv', index=False)

What to do when the owner is the organization

In [56]:
owner_gender = pd.read_csv('Owner_gender.csv')

In [57]:
owner_gender

,owner,login,sex or gender,name,1,first_name,imputed_gender,gender_updated
0,0x00000FF,0x00000FF,male,Kangjun Heo,NaN,NaN,unknown,male
1,ps64project,NaN,NaN,NaN,Project Philosopher's Stone,Project,unknown,unknown
2,4ment,4ment,male,Mathieu Fourment,NaN,NaN,unknown,male
3,beast-dev,NaN,NaN,NaN,Bayesian Evolutionary Analysis Sampling Trees,Bayesian,unknown,unknown
4,matsengrp,NaN,NaN,NaN,Matsen Group,Matsen,unknown,unknown
...,...,...,...,...,...,...,...,...
6712,MountainWestDLS,NaN,NaN,NaN,NaN,NaN,unknown,unknown
6713,SALib,NaN,NaN,NaN,SALib,SALib,unknown,unknown
6714,zoidy,zoidy,male,Fernando Rios,NaN,NaN,unknown,male
6715,JuliaImages,NaN,NaN,NaN,JuliaImages,JuliaImages,unknown,unknown
6716,zygmuntszpak,zygmuntszpak,NaN,Zygmunt L Szpak,NaN,NaN,unknown,unknown

In [58]:
login_owner = repositories_country[['login','owner']]

In [59]:
login_owner = login_owner.drop_duplicates()

In [60]:
login_gender = user_node[['login','gender_updated']]

In [61]:
login_gender = login_gender.rename(columns={'gender_updated':'login_gender'})

In [62]:
owner_gender = owner_gender.rename(columns={'gender_updated':'owner_gender'})

In [63]:
owner_gender = owner_gender[['owner','owner_gender']]

In [64]:
login_owner = login_owner.merge(login_gender, on='login', how='left').merge(owner_gender, on='owner', how='left')

In [65]:
login_owner = login_owner[login_owner['owner'].notnull()]

In [66]:
len(login_owner)

8139

In [67]:
login_owner['login'].nunique()

1480

In [70]:
login_owner.groupby(['login_gender','owner_gender']).size().reset_index().rename(columns={'login_gender':'contributor_gender',
                                                                                          0:'number_pairs'})

   contributor_gender owner_gender  number_pairs
0              female       female           123
1              female         male           181
2              female        other             7
3              female      unknown           520
4                male       female           313
5                male         male          2146
6                male        other            64
7                male      unknown          4212
8               other       female             4
9               other         male            10
10              other        other             1
11              other      unknown            72
12            unknown       female            22
13            unknown         male            71
14            unknown        other             5
15            unknown      unknown           388

Females are more likely to contribute to a repository with a female owner (40%) than males (12%).

In [114]:
# Percentage of female contributions to repositories with female owners
(123/(123+181))*100

40.46052631578947

In [86]:
# Percentage of male contributions to repositories with female owners
(313/(313+2146))*100

12.728751525010168

Males are more likely to contribute to a repository with a male owner (87%) than females (59%).

In [87]:
# Percentage of male contributions to repositories with male owners
(2146/(313+2146))*100

87.27124847498983

In [88]:
# Percentage of female contributions to repositories with male owners
(181/(123+181))*100

59.539473684210535

In [89]:
owner_gender.to_csv('Owner_gender.csv', index=False)