In [1]:
import pandas as pd

In [2]:
user_node = pd.read_csv('User_node_gender_updated.csv')

In [3]:
len(user_node)

1481

In [4]:
user_node = user_node[user_node['number_slugs'].notnull()]

In [5]:
len(user_node)

1480

# Collaborations by gender

Create file with edges by gender

In [8]:
user_edge = pd.read_csv('User_edge.csv')

In [9]:
unique_users = user_edge['source'].unique().tolist() + user_edge['target'].unique().tolist()

In [10]:
unique_users = list(set(unique_users))

In [11]:
len(unique_users)

437

In [12]:
df = []

for i in unique_users:
    source = user_edge[user_edge['source'] == i]
    target = user_edge[user_edge['target'] == i]
    target = target.rename(columns={'target': 'source',
                                   'source': 'target'})
    
    source_target = pd.concat([source,target])
    
    df.append(source_target)

In [13]:
df_updated = pd.concat(df)

In [14]:
df_updated[df_updated['source'] == 'zkamvar']

       source             target  weight
1724  zkamvar              hlapp       2
1725  zkamvar         jrcpulliam       2
1726  zkamvar             knausb       1
1727  zkamvar          njtierney       1
1728  zkamvar          smjenness       1
1729  zkamvar     thibautjombart       6
97    zkamvar  DarwinAwardWinner       1

In [15]:
user_edge[user_edge['source'] == 'zkamvar']

       source          target  weight
1724  zkamvar           hlapp       2
1725  zkamvar      jrcpulliam       2
1726  zkamvar          knausb       1
1727  zkamvar       njtierney       1
1728  zkamvar       smjenness       1
1729  zkamvar  thibautjombart       6

In [16]:
user_edge[user_edge['target'] == 'zkamvar']

               source   target  weight
97  DarwinAwardWinner  zkamvar       1

In [17]:
df_updated['source'].nunique()

437

In [18]:
df_updated = df_updated.merge(user_node, left_on='source', right_on='login')

In [19]:
df_updated = df_updated[['source','target','weight', 'gender_updated']]

In [20]:
df_updated = df_updated.rename(columns={'gender_updated':'source_gender'})

In [21]:
df_updated = df_updated.merge(user_node, left_on='target', right_on='login')

In [22]:
df_updated = df_updated[['source','target','weight', 'source_gender','gender_updated']]

In [23]:
df_updated = df_updated.rename(columns={'gender_updated':'target_gender'})

In [24]:
user_edge['source'].nunique()

264

In [25]:
user_edge['target'].nunique()

379

In [26]:
len(user_edge)

1731

In [27]:
user_node = user_node[['login', 'sex or gender', 'imputed_gender', 'gender_updated']]

In [28]:
user_edge = user_edge.merge(user_node, left_on='source', right_on='login')

In [29]:
user_edge['source'].nunique()

264

In [30]:
user_edge['target'].nunique()

379

In [31]:
len(user_edge)

1731

In [32]:
user_edge = user_edge.drop(columns='login')

In [33]:
user_edge = user_edge.rename(columns={'sex or gender':'sex or gender_source',
                                     'imputed_gender': 'imputed_gender_source',
                                     'gender_updated': 'gender_updated_source'})

In [34]:
user_edge = user_edge.merge(user_node, left_on='target', right_on='login')

In [35]:
user_edge['source'].nunique()

264

In [36]:
user_edge['target'].nunique()

379

In [37]:
len(user_edge)

1731

In [38]:
user_edge['source'].nunique()

264

In [39]:
user_edge['target'].nunique()

379

In [40]:
user_edge = user_edge.drop(columns='login')

In [41]:
user_edge = user_edge.rename(columns={'sex or gender':'sex or gender_target',
                                     'imputed_gender': 'imputed_gender_target',
                                     'gender_updated': 'gender_updated_target'})

In [42]:
user_edge.to_csv('User_edge_gender_variables.csv', index=False)

In [43]:
user_edge_gender_updated = user_edge[['gender_updated_source','gender_updated_target','weight']]

In [45]:
user_edge_gender_updated = user_edge_gender_updated.rename(columns={'gender_updated_source':'user_gender',
                                                                   'gender_updated_target': 'collaborator_gender'})

In [46]:
user_edge_gender_updated

     user_gender collaborator_gender  weight
0           male                male       1
1           male                male       1
2           male                male       1
3           male                male       1
4           male                male       1
...          ...                 ...     ...
1726        male                male       1
1727        male                male       1
1728        male                male       1
1729     unknown              female       2
1730        male                male       1

[1731 rows x 3 columns]

In [348]:
# Update the gender categories

In [47]:
user_edge_gender_updated.groupby(['user_gender','collaborator_gender'])['weight'].sum().reset_index()

   user_gender collaborator_gender  weight
0       female              female      35
1       female                male     230
2       female               other       5
3       female             unknown      21
4         male              female     252
5         male                male    3542
6         male               other      14
7         male             unknown     199
8      unknown              female      22
9      unknown                male     198
10     unknown               other       1
11     unknown             unknown      14

Females are more likely to collaborate on the same repository with females (13%) than males (6%).

In [80]:
# Percentage of females collaborating on the same repository with females
(35/(35+230))*100

13.20754716981132

In [82]:
# Percentage of males collaborating on the same repository with females
(252/(252+3542))*100

6.642066420664207

Males are more likely to collaborate on the same repository with males (93%) than females (86%).

In [83]:
# Percentage of males collaborating on the same repository with males
(3542/(252+3542))*100

93.35793357933579

In [81]:
# Percentage of females collaborating on the same repository with males
(230/(35+230))*100

86.79245283018868